---
import Badge from "../components/Badge.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Gmail from "../components/icons/Gmail.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import ContactForm from "../components/ContactForm.astro";
import Contact from "../components/icons/Contact.astro";
import UserCheck from "../components/icons/UserCheck.astro";
import AboutMe from "../components/AboutMe.astro";
---

<BaseLayout
  title="Porfolio de Natanael - Estudiante de Desarrollo de Sistemas de Informaci贸n"
  description="Contrata mis servicios"
>
  <main class="px-4">
    <SectionContainer id="top" class="py-16 md:py-36 scroll-m-20">
      <div class="flex flex-row items-center gap-4 mb-4">
        <img
          class="rounded-full shadow-lg size-16"
          src="https://img.freepik.com/psd-gratis/3d-ilustracion-persona-cabello-largo_23-2149436197.jpg?semt=ais_hybrid&w=740&q=80"
          alt="natanael photo"
        />
        <a
          href="#"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </div>
      <h1
        class="text-black dark:text-white text-3xl md:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola soy Natanael
      </h1>
      <p class="text-xl opacity-80 text-wrap max-w-[700px]">
        <!-- Estudiante de <span class="text-orange-300/90 font-semibold"
          >Desarrollo de Sistemas de Informaci贸n</span
        > en el Instituto Superior Tecnol贸gico P煤blico "Carlos Salazar Romero".
        <span class="opacity-85"
          >Apasionado por el desarrollo web y la creaci贸n de aplicaciones
          modernas.</span
        >
        He trabajado en proyectos como el <span class="font-semibold"
          >sitio web institucional y panel de gesti贸n de contenido de la I.E. N掳
          89007</span
        > en Chimbote.
        <span class="text-orange-300/90 font-semibold"
          >Siempre aprendiendo y aplicando tecnolog铆as actuales.</span
        > -->
        Estudiante de <span class="text-orange-300/90 font-semibold"
          >Desarrollo de Sistemas de Informaci贸n</span
        > en el Instituto Superior Tecnol贸gico P煤blico "Carlos Salazar Romero" de
        Chimbote, Per煤 叼.
        <span class="opacity-85"
          >En constante aprendizaje y aplicaci贸n de tecnolog铆as modernas para el
          desarrollo web.</span
        >
      </p>
      <nav>
        <ul class="flex flex-row gap-4 mt-8 flex-wrap">
          <li>
            <SocialPill href="#">
              <GitHub class="size-4 md:size-6" />
              GitHub
            </SocialPill>
          </li>
          <li>
            <SocialPill href="#">
              <LinkedIn class="size-4 md:size-6" />
              LinkedIn
            </SocialPill>
          </li>
          <li>
            <SocialPill href="#">
              <Gmail class="size-4 md:size-6" />
              Cont谩ctame
            </SocialPill>
          </li>
        </ul>
      </nav>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
          <Briefcase class="size-7" />
          Experiencia laboral
        </h2>
        <Experience class="size-7" />
      </SectionContainer>
      <SectionContainer id="proyectos">
        <h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
          <Code class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>
      <SectionContainer id="sobre-mi">
        <h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
          <UserCheck class="size-8" />
          Sobre m铆
        </h2>
        <AboutMe />
      </SectionContainer>
      <SectionContainer id="contacto">
        <h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
          <Contact class="size-8" />
          Contactame
        </h2>
        <ContactForm />
      </SectionContainer>
    </div>
  </main>
</BaseLayout>
