<div
  class="text-gray-700 dark:text-gray-300 flex gap-y-8 md:gap-x-6 flex-col md:flex-row md:items-center"
>
  <div class="flex-2 space-y-4 text-pretty order-2 md:order-1">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolor et
      voluptatum labore, eos porro, vel veniam explicabo dicta, quibusdam alias
      perferendis ipsam natus consequuntur voluptatem voluptate itaque sequi.
      Debitis.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem impedit rem
      eum quas veritatis, accusantium laboriosam? Voluptatibus doloribus
      possimus atque id repudiandae, corrupti rerum distinctio totam illum
      perferendis. Eaque, voluptates?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem impedit rem
      eum quas veritatis, accusantium laboriosam? Voluptatibus doloribus
      possimus atque id repudiandae, corrupti rerum distinctio totam illum
      perferendis. Eaque, voluptates?
    </p>
  </div>
  <div class="order-1 flex items-center justify-center md:block md:order-2">
    <img
      class="w-full max-w-2xl rounded-xl shadow-xl"
      src="https://img.freepik.com/psd-gratis/3d-ilustracion-persona-cabello-largo_23-2149436197.jpg?semt=ais_hybrid&w=740&q=80"
      alt=""
    />
  </div>
</div>
