---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Julio 2025",
    title: "Panel de Gestión de Contenido de la Institución Educativa N° 8900",
    description:
      "Desarrollo de un panel de gestión de contenido para la Institución Educativa N° 89007, orientado a la administración de noticias, eventos, usuarios y preinscripciones. El proyecto fue implementado con Next.js y TypeScript, integrando la API de Next para la comunicación entre cliente y servidor. Para la capa de datos se utilizó Prisma como ORM y PostgreSQL como base de datos, garantizando un manejo eficiente y seguro de la información institucional.",
    link: "https://cpanel89007.vercel.app/",
  },
  {
    date: "Mayo 2025",
    title:
      "Diseño y desarrollo del sitio web de la Institución Educativa N° 89007 ",
    description:
      "Diseño y desarrollo del sitio web institucional empleando el framework Astro, con arquitectura basada en islas e integración de componentes React. Se utilizó Tailwind CSS para asegurar un diseño moderno y responsivo, además de la implementación de un sitemap orientado a la optimización SEO. El proyecto contempló la recopilación directa de información en la institución, garantizando un contenido preciso, actualizado y alineado a sus necesidades de comunicación digital.",
    link: "https://institucioneducativa89007-4fzq.vercel.app/",
  },
];
---

<ol class="relative mt-16 border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
