---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="inline-flex items-center justify-center gap-2 px-4 py-1
         text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full
         dark:bg-gray-800 dark:border-gray-600 dark:text-white text-md
         
         hover:bg-black hover:border-gray-700 hover:text-white
         dark:hover:bg-gray-700 dark:hover:border-gray-400
         
         max-w-fit focus:outline-none focus-visible:outline-none
         focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2
         active:bg-black"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
